/* Tag styles */
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0px auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5rem;
    color: #576F72;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #576F72;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #7D9D9C;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #7D9D9C;
}

p {
    margin-bottom: 0;
}

/* Classes */
.top-container {
    background-color: #F0EBE3;
    position: relative;
    padding-top: 150px;
}

.mid-container {

}

.bottom-container {

}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 350px;
    bottom: 230px;
}

.mountains {
    padding-top: 150px;
}

.profile-pic {
    margin: 20px auto 0 auto;
    width: 15%;
}

.skill-row {
    width: 50%;
    margin: 80px auto;
    text-align: left;
}

.c-image {
    width: 10%;
    float: left;
    margin-right: 30px;
}

.mcu-image {
    width: 10%;
    float: right;
    margin-left: 30px;
}

.rtos-image {
    width: 10%;
    float: left;
    margin-right: 30px;
}

.printing-image {
    width: 10%;
    float: right;
    margin-left: 30px;
}